@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-size: 18px;
  font-family: "Roboto", serif;
}
img {
  display: block;
  max-inline-size: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/wave.svg);
  background-repeat: no-repeat;
  background-size: 1800px;
}
.header-img {
  position: relative;
  max-height: 500px;
  padding: 25px;
}
.header-img h1 {
  position: absolute;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  width: 80%;
  text-align: center;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}
.header-img img {
  max-height: 500px;
  -webkit-box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
  box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
}
header p {
  margin: 5px 15px;
}
h2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin-bottom: 15px;
}
.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px 0 40px 0;
}
.header-icons svg {
  width: 25px;
  transition: transform 0.05s ease;
}
.header-icons svg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

main > h2 {
  text-align: center;
}
.project-container-top {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
}
.project-container:nth-child(1) .project-container-top {
  background-color: rgb(106, 183, 185);
}
.project-container:nth-child(2) .project-container-top {
  background-color: rgb(71, 219, 128);
}
.project-container:nth-child(3) .project-container-top {
  background-color: rgb(71, 86, 219);
}
.project-container:nth-child(4) .project-container-top {
  background-color: rgb(216, 134, 67);
}
.project-container:nth-child(5) .project-container-top {
  background-color: rgb(219, 71, 152);
}
.project-container:nth-child(6) .project-container-top {
  background-color: rgb(216, 255, 40);
}
.project-container {
  margin: 50px 15px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
  box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
}
h3 {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
.project-container-bottom {
  padding: 15px;
}
.main-container-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}
.main-container-bottom-wrapper svg {
  width: 26px;
  margin-left: 5px;
}

footer {
  background-color: #006eb8;
  color: #fff;
  font-weight: 400;
}
.footer-info {
  padding: 20px;
}
.footer-info h2 {
  text-align: center;
}
.footer-info p + p,
.footer-info div + div,
.footer-info p + div {
  margin-top: 20px;
}
.motivate {
  font-size: 1.3rem;
}
footer svg {
  width: 25px;
  fill: #fff;
  display: none;
}
footer .phone-container,
.mail-container {
  display: flex;
  gap: 5px;
}

@media (min-width: 500px) {
  body {
    background-image: url(./assets/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 400%;
  }
  header {
    display: block;
    background-image: none;
    background-color: #fff;
    margin: 40px;
    -webkit-box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
    box-shadow: 0px 13px 31px -17px rgba(66, 68, 90, 1);
    padding: 10px;
  }

  .header-img {
    float: left;
    transform-origin: bottom right;
    transform: scale(1.15);
    padding: 15px;
  }

  .header-img img {
    max-height: 220px;
  }

  .header-icons {
    display: none;
  }
  main {
    margin-top: 120px;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  footer svg {
    display: block;
  }
}
